/* btn */
.first-btn{
  background-color: #ff9100;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: white;
}
.second-btn{
 background-color: #28a745;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: white;

}
/* 11111111111 */
.hero-section{
  background-color: #fff9f0;

}
.bird-img{
    width: 150px;
    opacity: 0.9;
    transform: translate(-50%, -50%); z-index: 2; 
}
.first-head{
  color: #333;
}
.img-bg{
    background-color: #ff9100;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.second-img{
 max-height: 100%;
  width: auto;
  object-fit: contain"
 
}
.second-img-bg{
  background-color: #28a745;
  border-radius: 20px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 max-width: 200px; 
 height: auto; 
}
.k-btn{
 transform: translateX(20%);
  max-width: 100%;
   height: auto;
  justify-content: center;
}
.sk-btn{
   
 transform: translateX(-20%);
min-width: 180px;
 justify-content: center;
}
.sun-img{
   width: 80px; 
   opacity: 0.8; 
   transform: translate(0%, 50%);
}
/* 222222222222222 */
.card-box {
  min-height: 300px;
}

.icon-box {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  background-color: #28a745;
  color: white;
}
.second-item{
  color: #28a745;
}
/* 3333333333333333 */
.quality-b{
   font-size: 1.1rem;
    font-weight: 500;


}
.img-big{
  width: 150px;

}
/* 444444444 */

.big-card{
    height: 200px; 
    background-color: #20c997;

}
.small-card{
   margin-top: -100px; 
   position: relative;
    z-index: 1;
}
/* 55555555555555 */
.round-icon{
   width: 80px; 
   height: 80px;
}
/* footer */
.box2{
 background-color: white;
  padding: 10px 50px;
  color:black;
  margin-bottom: 20px;

}
@media (max-width: 699px) {
  .responsive-hide-small {
    display: none;
  }
}

